<div class="mat-elevation-z8" *ngIf="!loading else spinner">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <th mat-header-cell class="align-header" *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="homeTeam">
            <th mat-header-cell class="align-header" *matHeaderCellDef> Home </th>
            <td mat-cell *matCellDef="let element"> {{element.homeTeam}} </td>
        </ng-container>

        <ng-container matColumnDef="awayTeam">
            <th mat-header-cell class="align-header" *matHeaderCellDef> Away </th>
            <td mat-cell *matCellDef="let element"> {{element.awayTeam}} </td>
        </ng-container>

        <ng-container matColumnDef="homeWinOdd">
            <th mat-header-cell class="align-header" *matHeaderCellDef> 1 </th>
            <td mat-cell *matCellDef="let element" (click)="onBet(element, element.homeWinOdd)"
                [ngClass]="[isOddSelected(element.homeWinOdd.oddId) ? 'selected' : '']">
                {{element.homeWinOdd.oddValue}}
            </td>
        </ng-container>

        <ng-container matColumnDef="drawOdd">
            <th mat-header-cell class="align-header" *matHeaderCellDef> X </th>
            <td mat-cell *matCellDef="let element" (click)="onBet(element, element.drawOdd)"
                [ngClass]="[isOddSelected(element.drawOdd.oddId) ? 'selected' : '']">
                {{element.drawOdd.oddValue}}
            </td>
        </ng-container>

        <ng-container matColumnDef="awayWinOdd">
            <th mat-header-cell class="align-header" *matHeaderCellDef> 2 </th>
            <td mat-cell *matCellDef="let element" (click)="onBet(element, element.awayWinOdd)"
                [ngClass]="[isOddSelected(element.awayWinOdd.oddId) ? 'selected' : '']">
                {{element.awayWinOdd.oddValue}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" [length]="length"
        [pageSize]="pageSize" [pageIndex]="pageIndex" showFirstLastButtons>
    </mat-paginator>
</div>

<ng-template #spinner>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>