<!-- <mat-toolbar color="primary">
    <span>Betting App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>receipt</mat-icon>
        
    </button>
</mat-toolbar>
 -->

<mat-toolbar color="primary">
    <span>Betting App</span>
    <span class="spacer"></span>
      <div>
        <mat-icon>receipt</mat-icon>
        <a class="my-betslips">My Betslips</a>
      </div>
</mat-toolbar>