<div class="played-bets-container">
    <mat-card>
        <mat-card-title>Played bets</mat-card-title>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let bet of placedBets">{{bet.bet}}</mat-list-item>
            </mat-list>
            <p>Odds: {{odds | number: '1.1-2'}}</p>
            <p>Possible gain: {{gain | number: '1.1-2'}}</p>
        </mat-card-content>
        <mat-card-actions>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Stake</mat-label>
                <input type="number" matInput placeholder="" value="5" min="5" max="10000" name="stake"
                    [formControl]="stakeFormControl" id="stake">
                <mat-error *ngIf="stakeFormControl.hasError('min')">
                    Stake cannot be less than <strong>5</strong>
                </mat-error>
                <mat-error *ngIf="stakeFormControl.hasError('max')">
                    Stake cannot be higher than <strong>{{walletAmount}}</strong>
                </mat-error>
            </mat-form-field>
            <button mat-button (click)="submitBet()" [disabled]="isButtonDisabled()">PLACE THE BET</button>
        </mat-card-actions>
    </mat-card>
</div>